html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    align-items: center;
}

.App-decor {
    margin-top: 0px;
    width: 100%;
    left: 0;
    top: 0;
    color: #ADD8e6;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    background-color: #ADD8e6;
    display: block;
    height: 180px;
}

h1 { 
    color: black;
}

h4 {
    color: black;
}

h3 {
    color: black;
}

#data {
    color: black;
}


.control-label {
    color: black;
}

.outterBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 30px;
    background: white;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
}

.container{
    margin-top: 170px;
}

#button {
    margin-top: 10px;
    margin-bottom: 10px;
}
